:root {
	--white: rgba(255,255,255,1);
	--black: rgba(0,0,0,1);
	--skyblue: rgba(3, 190, 252,1);
	--royalblue: rgba(83, 51, 237, 1);
	--goldenrod: rgba(218, 163, 32, 1);
	--orangered: rgba(255, 69, 0);
	--darkgray: rgba(48, 48, 48);
	--hotpink: rgba(255,105,180);
}